

@{
    ViewData["Title"] = "ApartmentList";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model List<ApartmentListViewModel>

<div class="row">
    <div class="text-center ">
        <h1 class="fw-bold text">Daire Listesi </h1>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Apartman Adı</th>
                    <th>Daire Katı</th>
                    <th>Kapı Numarası</th>
                    <th>Ev Tipi</th>
                    <th>Durumu</th>
                    <th>Kullanıcı</th>
                    <th>Fatura Sayısı</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model){
                    <tr>
                        <td>@item.Block</td>
                        <td>@item.FloorNumber</td>
                        <td>@item.ApartmentNumber</td>
                        <td>@item.HouseType</td>
                        <td>@item.IsAvailable</td>
                        <td>@item.UserFullName</td>
                        <td>@item.InvoicesCount</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>